#blackBackground{
       
        color: black; 
       width: 100%;
       height: 100%;
}
#blueBackground{
        color: blue; 
       width: 100%;
       height: 100%;
}
#greenBackground{
        color: green; 
       width: 100%;
       height: 100%;
}